/* src/Header.css */
.header {
    background-color: None;
    color: transparent;
    padding: 1em;
   }
   
   .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: Georgia, serif;
   }
   
   .header a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
   }