/* src/LandingPage.css */
.landing-page {
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   }
   
   .landing-content {
    text-align: center;
   }
   